@use "./breakpoints" as bp;

.about-section {
  width: 80vw;
  max-width: 1024px;
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  @include bp.phone {
    flex-direction: column-reverse;
  }
  @include bp.lgphone {
    flex-direction: column-reverse;
  }
  @include bp.tablet {
    flex-direction: column-reverse;
    align-items: center;
  }
  .content {
    width: 50%;
    @include bp.phone {
      width: 100%;
    }
    @include bp.lgphone {
      width: 100%;
    }
    @include bp.tablet {
      width: 100%;
    }

    h1 {
      font-size: 3rem;
      line-height: 20px;
      @include bp.tablet {
        text-align: center;
      }
    }
    p {
      @include bp.tablet {
        text-align: center;
      }
    }
  }
  .image-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @include bp.phone {
      width: 100%;
    }
    @include bp.lgphone {
      width: 100%;
    }
    @include bp.tablet {
      width: 100%;
    }
  }
}

.about-image{
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.sponsors-container img {
  width: 50px;
  border-radius: 50%;
}