.header-wrapper {
  width: 90vw;
  max-width: 1024px;
  margin-top: 12vh;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
  @include media(">=phone", "<lgphone") {
    margin-top: 8vh;
    padding: 1rem 0;
    width: 95vw;
  }
  
  @include media(">=lgphone", "<tablet") {
    margin-top: 10vh;
    padding: 1.5rem 0;
    width: 90vw;
  }
  
  &::before {
    content: '';
    position: absolute;
    top: -50px;
    right: -100px;
    width: 200px;
    height: 200px;
    background: linear-gradient(45deg, #f3ec78, #af4261);
    border-radius: 50%;
    filter: blur(80px);
    opacity: 0.2;
    z-index: -1;
    
    @include media(">=phone", "<lgphone") {
      width: 150px;
      height: 150px;
      top: -30px;
      right: -50px;
    }
    
    @include media(">=lgphone", "<tablet") {
      width: 180px;
      height: 180px;
      top: -40px;
      right: -70px;
    }
  }

  h2 {
    font-size: 1.2rem;
    text-align: center;
    color: #666;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    @include media(">=phone", "<lgphone") {
      font-size: 1rem;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 1.1rem;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 1.2rem;
    }
  }
  .heading-wrapper {
    h1 {
      font-size: 4.5rem;
      text-align: center;
      line-height: 1.2;
      margin: 0.5rem 0;
      font-weight: 700;
      background: linear-gradient(45deg, #1a1a1a, #4a4a4a);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include media(">=phone", "<lgphone") {
        font-size: 2rem;
        line-height: 1.3;
        margin: 0.3rem 0;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 2.5rem;
        line-height: 1.3;
        margin: 0.3rem 0;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 3.5rem;
        line-height: 1.2;
      }
    }
  }
  p {
    width: 60%;
    text-align: center;
    overflow: hidden;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #666;
    margin: 2rem 0;
    @include media(">=phone", "<lgphone") {
      font-size: 0.95rem;
      width: 100%;
      margin: 1rem 0;
      padding: 0 1rem;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 1rem;
      width: 100%;
      margin: 1.5rem 0;
      padding: 0 1rem;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 1.1rem;
      width: 90%;
    }
  }
}
